:root {
    --carousel-animation-duration: 500ms;
    --carousel-animation-delay: 260ms;
    --carousel-easing: cubic-bezier(0.79,0.14,0.15,0.86);
}

.project-img, .project-header {
    position: relative;
    opacity: 1;
    transition: opacity .8s;
    will-change: clip-path;
    clip-path: polygon(0 0,100% 0,100% 120%,0 120%);
    padding-top: 56.78%;
}

.project-header {
    padding: 1rem;
    position: relative;
}

.project-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-img--overlay {
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 500ms ease;
}

.project-img:hover .project-img--overlay {
    opacity: 0.2;
}

/* Animation with clip-path to the left */
.clipping-left-enter-active {
    clip-path: polygon(100% 0,100% 0,100% 120%,100% 120%);
}
.clipping-left-enter-active, .clipping-left-enter {
    animation: clipshow-left var(--carousel-animation-duration) var(--carousel-easing) var(--carousel-animation-delay) forwards;
}
.clipping-left-exit-active {
    clip-path: polygon(0 0,100% 0,100% 120%,0 120%);
}
.clipping-left-exit-active, .clipping-left-exit-to {
    animation: cliphide-left var(--carousel-animation-duration) var(--carousel-easing) var(--carousel-animation-delay) forwards;
}

@keyframes clipshow-left {
    to { clip-path: polygon(0 0,100% 0,100% 120%,0 120%) }
}
@keyframes cliphide-left {
    to { clip-path: polygon(0 0,0 0,0 120%,0 120%) }
}

/* Animation with clip-path to the right */
.clipping-right-enter-active {
    clip-path: polygon(0 0,0 0,0 120%,0 120%);
}
.clipping-right-enter-active, .clipping-right-enter {
    animation: clipshow-right var(--carousel-animation-duration) var(--carousel-easing) var(--carousel-animation-delay) forwards;
}
.clipping-right-exit-active {
    clip-path: polygon(0 0,100% 0,100% 120%,0 120%);
}
.clipping-right-exit-active, .clipping-right-exit-to {
    animation: cliphide-right var(--carousel-animation-duration) var(--carousel-easing) var(--carousel-animation-delay) forwards;
}

@keyframes clipshow-right {
    to {clip-path: polygon(0 0,100% 0,100% 120%,0 120%)}
}
@keyframes cliphide-right {
    to {clip-path: polygon(100% 0,100% 0,100% 120%,100% 120%)}
}

.fade-enter{
    opacity: 0;
 }
 .fade-exit{
    opacity: 1;
 }
 .fade-enter-active{
    opacity: 1;
 }
 .fade-exit-active{
    opacity: 0;
 }
 .fade-enter-active,
 .fade-exit-active{
    transition: opacity 500ms;
 }