.grid {}

.grid__item {
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}
.grid__item a:hover {
    text-decoration: none;
}
.grid__item:hover .project img {
    transform: scale(1.1);
}

.project {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.project:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: calc(9/16 * 100%);
}

.project img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1000ms ease-out;
}

.project-title {
    position: relative;
    padding: 1rem 1rem 1rem 0;
    margin-top: 1rem;
    background-color: var(--nz-charcoal);
}

@media screen and (min-width: 540px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-flow: dense;
        grid-gap: 1rem;
    }
    .grid__1 {
        grid-column: 1 / 2;
        height: 100px;
    }
    .grid__item {
        margin-bottom: 0;
        grid-column: span 1;
        grid-row: span 2;
    }
    .project:before {
        padding-bottom: calc(1 * 100%);
    }
    .project-title {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        transition: clip-path 750ms;
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    .project:hover .project-title {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}
