.hamburger {
    display: block;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.hamburger label {
    display: block;
    cursor: pointer;
    position: absolute;
    width: 50vw;
    height: 50vw;
    max-width: 70px;
    max-height: 70px;
}
@media (min-aspect-ratio: 1) {
    .hamburger label {
        width: 50vh;
        height: 50vh;
   }
}
.hamburger .menu--2 label {
    bottom: 0;
    left: 0;
}
.hamburger path {
    fill: none;
    stroke: #fff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    --length: 24;
    --offset: -38;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger .line--2 {
    --length: 18;
}
.hamburger circle {
    fill: var(--nz-charcoal);
}
.hamburger:hover circle {
    fill: var(--nz-steel);
}
.hamburger label:hover circle {
    fill: #fff 3;
}
.hamburger.cross.hamburger--active svg .line--1, .hamburger.cross.hamburger--active svg .line--3 {
    --length: 22.627416998;
}
.hamburger.cross.hamburger--active svg .line--2 {
    --length: 0;
}
.hamburger.menu--2 .line--1, .hamburger.menu--2 .line--3 {
    --total-length: 111.2281341553;
    --offset: -50.2281341553;
}
.hamburger.menu--2 .line--2 {
    --total-length: 99;
}
.hamburger.menu--2.hamburger--active svg path {
    transform: translateX(30px);
}
.hamburger.menu--2.hamburger--active svg .line--1, .hamburger.menu--2.hamburger--active svg .line--3 {
    --offset: -16.9705627485;
}
.hamburger.menu--2.hamburger--active svg .line--2 {
    --offset: -20;
}
