.heading {
    position: relative;
    display: inline-block;
    margin: var(--spacing-xl) auto;
}

.heading::before, .heading::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--nz-pink);
}

.heading::after {
    top: unset;
    bottom: 0;
}
